*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(250, 250, 250);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: min(100%, 100rem);
  padding: 3rem 2rem 0rem;
  margin-inline: auto;
  min-height: 100%;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.8rem;
}
.post {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.post img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-box {
  display: flex;
  margin-bottom: 7rem;
}
.profile-img {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: relative;
  width: 15rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(177, 177, 177);
  z-index: 1;
  overflow: hidden;
}

.profile-info {
  width: 68%;
}

@media only screen and (max-width: 46em) {
  .profile-box {
    flex-direction: column;
  }
  .profile-img {
    width: 50%;
    margin-bottom: 3rem;
  }
  .profile-info {
    width: 100%;
  }
}

.profile-action {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.btn {
  padding: 0.5rem 0.9rem;
  border: 1px solid gray;
  font-weight: 500;
  border-radius: 4px;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}
.nick {
  font-size: 2.8rem;
}
.profile-numbers {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.name {
  font-weight: 500;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid gray;
  margin-bottom: 2rem;
}
.icon {
  font-size: 3.5rem;
  color: grey;
}

/*! Home */
.small-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: min(100%, 47rem);
  justify-content: center;
}

.small-img-box {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}
.img-box {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.card {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.card-details {
  padding: 1.2rem;
}
.icons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-card:nth-child(3) {
  margin-right: auto;
}
.icon-card {
  height: 4rem;
  width: 4rem;
  padding: 0.8rem;
  font-size: 2.4rem;
}
.icon-card:hover {
  opacity: 0.5;
}
.likes {
  font-weight: 500;
  font-size: 1.4rem;
}
.nick-small {
  font-weight: 500;
  font-size: 1.4rem;
}
.icons,
.likes {
  margin-bottom: 0.8rem;
}
